.Counter {
  display: flex;
  flex-direction: column;
  background-color: rgb(163, 163, 163);
  border-radius: 15%;
  width: 23vw;
  height: 23vw;
  margin: 2vh auto;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px black;
}

.Counter__heading {
  color: #fff;
  font-size: 2.5vw;
  margin: 1vh auto;
  text-shadow: 2px 2px 2px black;
}

.Counter__logo {
  width: 40%;
  height: auto;
}

.Counter__inputs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Counter__label {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  align-items: center;
  font-size: 1.5vw;
  text-shadow: 2px 2px 2px black;
}

.Counter__count {
  height: 4vw;
  width: 4vw;
  text-align: center;
  font-size: 2vw;
  border-radius: 30%;
  box-shadow: 2px 2px 2px black;
}

.Counter__reset {
  font-size: 1.5vw;
  width: 30%;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  position: relative;
  bottom: 2vh;
}

.Counter__reset:hover {
  color: rgb(73, 73, 73);
}

@media screen and (max-width: 1080px) {
  .Counter {
    width: 60vw;
    height: 60vw;
  }

  .Counter__heading {
    font-size: 8vw;
    margin: 2vh auto;
  }

  .Counter__label {
    font-size: 4.5vw;
  }

  .Counter__count {
    width: 10vw;
    height: 10vw;
    font-size: 5vw;
  }

  .Counter__reset {
    font-size: 3.5vw;
  }
}